
#topmain {
    position: relative;
    background-color: #036fab;
    color:red;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    width: 200px;
    height: 200px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 210px;
}

.right_content {
    background-color:white;
    height: 500px;;
    margin: 0px 0px 0px 0px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}


#title_1 {
    FONT-SIZE: 50px; FILTER: DropShadow(Color=#213C63, OffX=1, OffY=1); WIDTH: 100%; COLOR: red; FONT-FAMILY: "Verdana";
}

#contentmain { height:500px; background:#c2dfef}

#qType {
    float: left;
    width: 200px;
    height: 200px;
}

.divcss1{ padding-top: 20px}
.divcss4{height: 20px; width: 200px; margin-left: 170px; margin-top: 0px;}
.divcss5{height: 20px; width: 200px; margin-left: 370px; margin-top: -250px;}